:root
{
    --mainRed : #eb1f28;
    --mainYellow: #da9b4f;
    --secondYellow: #d7a24b;
    --thirdYellow: #d7ac5e;
}
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html
{
    font-size: 62.5%;
}
body
{
    background-color: #000000;
    opacity: 1;
    background-image:  radial-gradient(#d7ac5e 2px, transparent 2px), radial-gradient(#d7ac5e 2px, #000000 2px);
    background-size: 80px 80px;
    background-position: 0 0,40px 40px;
    font-size: 1.3rem;
    font-family: 'Montserrat', sans-serif;
}

/*      Main box        */
.wrapper
{
    width: 90%;
    height: 90vh;
    margin: 5vh auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main--container
{
    position: relative;
    background-color: rgba(255, 255, 255, .5);
    border: 10px solid;
    border-image-slice: 1;
    border-width: 5px;
    border-image-source: linear-gradient(to left, #eb1f28, #da9b4f);
    padding: 20px;
}
header
{
    width: 140px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: calc(-50% + 5%);
    border-radius: 50%;
    z-index: 1;
}
header img
{
    width: 100%;
    object-fit: scale-down;
}
main
{
    margin-top: 20px;
    text-align: justify;
    max-height: 300px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
main::-webkit-scrollbar
{
    display: none;
}
main h1
{
    text-align: center;
}
.form
{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.quallyElement
{
    margin-top: 20px;
}
.child
{
    display: flex;
    justify-content: space-between;
    text-align: start;
    margin-bottom: 20px;
}

.resultado
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.resultado p
{
    font-size: 2rem;
    font-weight: bolder;
    border: 10px solid;
    border-image-slice: 1;
    border-width: 5px;
    border-image-source: linear-gradient(to left, #eb1f28, #ffd700);
    padding: 15px;
}
.calc-btn
{
    margin: 0 auto;
    margin-top: 15px;
    padding: 10px;
    border: 1px solid #ffd700;
    border-radius: 12px;
    background-color: #000000;
    color: white;
    font-weight: bolder;
}